@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap');

body {
	background-color: #212121;
	font-family: 'Sansita Swashed', cursive;
}

a {
	text-decoration: none
}

.image {
	margin-top: 100px;
	text-align:center
}

.image img {
	border-radius: 10px;
}

.title {
	font-size: 30px;
	font-weight: 700;
	color: white;
	text-align: center;
	margin-top: 50px;
	animation: floating 2s infinite, glow 10s infinite;
}

@media (min-width: 420px) {
	.title {
		font-size: 40px;
	}
}

@media (min-width: 760px) {
	.title {
		font-size: 60px;
	}
}

.buttons {
	margin-top: 50px;
	text-align: center;
}

.button {
	margin-left: 10px;
	margin-right: 10px;
	animation: glow 10s infinite;
}

.button svg {
	width: 35px;
	height: 35px;
}

@media (min-width: 420px) {
	.button svg {
		width: 45px;
		height: 45px;
	}
}

@media (min-width: 760px) {
	.button svg {
		width: 90px;
		height: 90px;
	}
}

.video{
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.video video{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: fill;
	z-index: -1;
	filter: brightness(50%);
}

@keyframes floating {
	0% {transform: translate(0px,0px);}
	50% {transform: translate(0px,-10px);}
	100% {transform: translate(0px,0px);}
}

@keyframes glow {
	0% {text-shadow: none;}
	10% {text-shadow: 1px 1px 30px #e28b00;}
	20% {text-shadow: none;}
	30% {text-shadow: 1px 1px 30px #00ff00;}
	40% {text-shadow: none;}
	50% {text-shadow: 1px 1px 30px #f80000;}
	60% {text-shadow: none;}
	70% {text-shadow: 1px 1px 30px #5181b8;}
	80% {text-shadow: none;}
	90% {text-shadow: 1px 1px 30px #ffcc00;}
	100% {text-shadow: none;}
}